body {
  font-family: 'Barlow', sans-serif;
  background-color: #fff;
  position: relative;
}

ul, p {
  margin: 0;
}

.menu-flotante {
  background-color: #002eff;
  height: 50px;
  width: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: .3s;
}
.menu-flotante:hover {
  background-color: transparent;
  color: #002eff;
  border: 2px solid #002eff;
}
.menu-flotante svg {
  height: 100%;
  width: auto;
}

.current-banner {
  height: 250px;
  background-color: #ccc;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-banner span {
  font-size: 8rem;
  color: #191919;
  font-weight: 500;
}

ul.banner-tabs {
  height: 65px;
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul.banner-tabs li.banner-tabs__item {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  text-align: center;
  font-size: 0.87rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  border-right: 1px solid #002eff;
  flex-basis: 0;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

ul.banner-tabs .input-edit {
  height: 100%;
  background-color: transparent;
  border: none;
}
ul.banner-tabs .input-edit::placeholder {
  color: #fff;
}

ul.banner-tabs li.banner-tabs__item:active {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

ul.banner-tabs li.banner-tabs__item.active {
  background-color: #002eff;
  color: #fff;
}

ul.banner-tabs li:first-child {
  border-left: 0;
}

ul.banner-tabs li:last-child {
  border-right: 0;
}

.group-new-item {
  background-color: #fff;
  box-shadow: 0 4px 16px rgb(0 0 0 / 25%);
  border-radius: 16px;
}

.group-new-item input.input-new-item {
  border: 1px solid #ccc;
  border-radius: 16px;
  height: 40px;
  padding: 0px 20px;
  width: 100%;
}

.group-new-item .input-new-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: #191919;
}

.group-new-item .btn-new-item {
  background-color: #002eff;
  border-radius: 28px;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  transition: .3s;
  font-size: 0.9rem;
}

.delete-area {
  background-color: rgba(255, 0, 0, 0.3);
  border: 2px solid red;
  height: 250px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.delete-area .delete-area__text {
  font-size: 2rem;
  color: #191919;
  font-weight: 500;
}

@media only screen and (min-width: 320px) {}

@media only screen and (min-width: 321px) {}

@media only screen and (min-width: 1024px) {
  .group-new-item .btn-new-item {
    width: 100%;
  }
}


@media only screen and (min-width: 1200px) {}